<div class="section">
  <div class="section-summary">
    <a name="summary"></a>
    <h1>Preview</h1>
    <p>Preview template announcement</p>
  </div>

  <div class="section-content">
    <div class="section-row">
      <div class="section-cell">
       <%= render "preview" %> 
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section-summary">
    <a name="summary"></a>
    <h1>Config</h1>
    <p>Configure the announcement. Let's try</p>
  </div>

  <div class="section-content">
    <div class="section-row">
      <div class="section-cell">
       <%= render "config" %> 
      </div>
    </div>
  </div>
</div>